body {
  text-align: center;
  font-family: 'Happy Monkey', cursive;
  background: linear-gradient(#a2d2ff, #efb0c9);
  color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 0 0 1px black;
}

#bff-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #efb0c9;
  margin-bottom: 10px;
}

#bday-age {
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

#bday-date {
  margin: 0;
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

#gift-img-cheers {
  height: 200px;
}

.gift-img {
  margin: 20px auto;
  max-width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url('images/gift-cover.jpg');
  background-size: cover;
}

#gift-img-queen1:hover {
  background-image: url('images/queen1.gif');
}

#gift-img-queen2:hover {
  background-image: url('images/queen2.gif');
}

#gift-img-queen3:hover {
  background-image: url('images/queen3.gif');
}

#gift-img-queen4:hover {
  background-image: url('images/queen4.gif');
}

#gift-img-queen5:hover {
  background-image: url('images/queen5.gif');
}
